[submodule "core"]
	path = core
	url = ../core.git
[submodule "plugin/git"]
	path = plugin/git
	url = ../git.git
[submodule "plugin/block_editor"]
	path = plugin/block_editor
	url = ../block-editor.git
[submodule "plugin/admin"]
	path = plugin/admin
	url = ../administration.git
[submodule "plugin/jsondb"]
	path = plugin/jsondb
	url = ../jsondb.git
[submodule "plugin/smalldb"]
	path = plugin/smalldb
	url = ../.git
[submodule "plugin/duf"]
	path = plugin/duf
	url = ../duf.git
[submodule "plugin/developers_manual"]
	path = plugin/developers_manual
	url = ../developers-manual.git
[submodule "plugin/book"]
	path = plugin/book
	url = ../book.git
