[submodule "core"]
	path = core
	url = ../core.git
[submodule "plugin/git"]
	path = plugin/git
	url = ../plugin/git.git
[submodule "plugin/block_editor"]
	path = plugin/block_editor
	url = ../plugin/block_editor.git
[submodule "plugin/form"]
	path = plugin/form
	url = ../plugin/form.git
[submodule "plugin/admin"]
	path = plugin/admin
	url = ../plugin/admin.git
[submodule "plugin/simplecrud"]
	path = plugin/simplecrud
	url = ../plugin/simplecrud.git
[submodule "plugin/jsondb"]
	path = plugin/jsondb
	url = ../plugin/jsondb.git
